<footer>
<div class="col-sm-4 col-xs-12 text-center-xs">
	<p><em>for booking, <a href="mailto:norton.shaffer@gmail.com">use email</a></em></p>
</div>
<div class="col-sm-4 col-xs-12 text-center">
	<a href="/nakeandshaffer/"><img src="/img/return_to_square.jpg" alt="return to square" height="100"></a>
</div>
<div class="col-sm-4 col-xs-12 text-right-not-xs text-center-xs">
	<a class="twitter" href="http://www.soundcloud.com/{{ site.data.global.soundcloud }}"><li class="fa fa-soundcloud fa-3x" aria-hidden="true"></li></a>
	<a class="twitter" href="http://www.twitter.com/{{ site.data.global.twitter }}"><li class="fa fa-twitter fa-3x" aria-hidden="true"></li></a>
</div>
</footer>
